{% extends "base_layout.html" %}
{% block index %}
<div class="col-sm-8 text-left">
   <h1>htmldiff</h1>
   <p>Cервис, который будет делать диф для юридических документов, свёрстанных в html.
   Смысл в том, что сотрудники заказчика отдают договор своим коллегам, чтобы те вписали туда свои позывные и хотят быть уверены, что помимо этого туда не было добавлено что-нибудь ещё. А если было добавлено – согласовать это.
   Для этого им нужен сервис: загружаешь в него старую и новую версию и видишь диф как в Пайчарме: красным подсвечено удалённое, зелёным – добавленное, жёлтым – то, что переместилось из одной части документа в другую без изменений.</p>
   <hr>
</div>
<!-- /.container -->
{% endblock %}